/**
  @author Marcelo Rafael Feil
  @email marcelo.rafael.feil@gmail.com
*/

:root {
  /* Text variables */
  --font1: 'Confortaa', Arial;
  --text-primary-color: white;

  /* Colors */
  --primary-color: #407176;
  --primary-dark-color: #233c3f;

  --gray-color: #696969;
  --gray-dark-color: #494949;

  --default-color: white;
  --light-color: white;
  --dark-color: #333333;

  /* Page variable */
  --bg-color: #111111;
}